body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  button, input {
    font-size: 16px;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  button {
    background-color: #007bff;
    color: black;
    margin-left: 25px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #0056b3;
  }
  #description {
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 80%;
    text-align: center;
  }

  #roundInfo, #roundQuestion, #timerDisplay  {
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 80%;
    text-align: center;
  }

  #odgovor {
    margin: 10px 0;
    display: flex;
    flex-direction: row;
    width: 80%;
    text-align: center;
    justify-content: space-between;
  }
  #totalScore, #computerGuess  {
    margin: 10px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    width: 45%;
    text-align: center;
    
  }
  
  #odgdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0;
  }
  